<div class="container mt-5">
  <div class="row">
    <div class="col-4 mt-5">
      <div class="card rounded">
        <div class="card-body">
          <img src="assets/ngx-nomad-form.jpg" width="80" alt="Nomad Form">
        </div>
      </div>
    </div>
    <div class="col-8 pt-2">
      <nf-form [fields]="fields" [formConfig]="formConfig" (callBack)="callBack($event)" (onChange)="change($event)"></nf-form>
      <div class="mt-3">
        <label for="json">Output</label>
        <textarea class="form-control" rows="10" [(ngModel)]="fieldInput"></textarea>
      </div>
    </div>

  </div>
</div>
